* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 800;
}

h2 {
	font-size: 24px;
	color: blue;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 24px;
 	
 	line-height: 17px;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	margin: 0;
	border-color: #9FB80A;
	border-width: 2px;
	color: #9FB80A;;
}
.btn:hover {
	border-color: #9FB80A;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	background-color: rgb(0, 0, 77);
	padding: 10px 15px;
}
.top-menu a {
	font-size: 16px;
	font-weight: 400;
}
.divider {
	height: 25px;
}
.divider.blue {
	background-color: #42C3C9;
}
.divider.green {
	background-color: #9FB80A;
}
.banner.main {
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.menu {
	background-color: #E1E17F;
}
.banner.profile {
	background-color: #A6E8EB;
}
.restaurant-list {
 	background-color: #F0F0F0;
 	margin: 0px 15px;
 	padding: 5px;
}
 .restaurant-list:hover {
 	background-color: #e1e17f;
 	margin: 0px 15px;
 	padding: 5px;
}
.menu-item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}
.menu-price {
	font-weight: 700;
}
.creator {
	padding-right: 20px;
	float: right;
	font-size: 14px;
}
.creator img {
	width: 30px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
}
.flash {
	background-color: #98FB98;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}

.button {
    background-color: rgb(204, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    #text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
	color: black;
}

.log{
	float: right;
}

.display_inline {
	display: inline;
}

.padding_left {
	padding-left: 15px;
}
